*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --light-color-background: #D9D9D9;
    --dark-color-background: #B8B4A9;
    --border-color-purple: #1D2147;
    --clickable-button-color: #D74E09;
    --checked-button-color-1: #E1163B;
    --checked-button-color-2: #E1B63B;
    --checked-button-color-3: #3B61E1;
    --checked-button-color-active: #2F9242;
    --button-for-screen-background-color: #555B8B;
    --text-color: #ffffff;
    --black: #000000;
    --animation-duration: 1s;
}

/* ANIMATIONS */

@keyframes changeButtonColor {
    0% {background-color: var(--checked-button-color-1);}
    50% {background-color: var(--checked-button-color-2);}
    75% {background-color: var(--checked-button-color-3);}
    100% {background-color: var(--checked-button-color-1);}
}

@keyframes floatAnimation{
    0% {transform: rotate(0deg) translateY(0px);}
    25% {transform: rotate(5deg) translateY(-10px);}
    50% {transform: rotate(0deg) translateY(0px);}
    75% {transform: rotate(-5deg) translateY(10px);}
    100% {transform: rotate(0deg) translateY(0px);}
}

/* ANIMATIES VOOR DE PLANET FADE IN */

@keyframes planetFadeInEarth {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes planetFadeInMars {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes planetFadeInSaturn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes planetFadeInSun {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes planetFadeInMoon {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* ANIMATIE VOOR DE PLANEET NAAM */
@keyframes textUnmaskEarth{
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes textUnmaskMars{
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes textUnmaskSaturn{
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes textUnmaskSun{
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes textUnmaskMoon{
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

/* ANIMATIE VOOR DE FEITJES VAN DE PLANEET */
@keyframes factsUnmaskEarth{
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes factsUnmaskMars{
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes factsUnmaskSaturn{
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}


@keyframes factsUnmaskSun{
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes factsUnmaskMoon{
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

/* SCROLL ANIMATIE */
@keyframes infiniteScrollVertical {
    0% {
        transform: translateY(0%);
    }
    99.9% {
        transform: translateY(-2400%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes infiniteScrollHorizontal {
    0% {
        transform: translateX(0%);
    }
    99.9% {
        transform: translateX(20.3%);
    }
    100%{
        transform: translateX(0%);
    }
}

/* RADAR ROTATE ANIMATIE */
@keyframes radarRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes collapse {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

@keyframes unCollapse {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* CONTAINER QUERIES */

/* BASE STYLING VOOR STRUCTUUR SCHERM RECHTS BOVEN (DE PLANEET AFBEELDINGEN EN NAMEN EN FEITJES) */
@container (min-width: 40em){
    /* BASE STYLING VOOR STRUCTUUR SCHERM RECHTS BOVEN (DE PLANEET AFBEELDINGEN EN NAMEN EN FEITJES) */
    section:nth-of-type(2) div:first-of-type section:first-of-type{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}
@container (min-width: 20em){
    /* LAYOUT VAN DE CONTENT IN HET SCHERM (PLANEET EN NAAM) */
    section:nth-of-type(2) div:first-of-type section:first-of-type div:first-of-type img{
        width: 15rem;
    }
    section:nth-of-type(2) div:first-of-type section:first-of-type span:first-of-type:after{
        font-size: 6rem;
    }
}

@container(max-width:40em){
    /* BASE STYLING VOOR STRUCTUUR SCHERM RECHTS BOVEN (DE PLANEET AFBEELDINGEN EN NAMEN EN FEITJES) */
    section:nth-of-type(2) div:first-of-type section:first-of-type{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@container(max-width: 20em){
    /* LAYOUT VAN DE CONTENT IN HET SCHERM (PLANEET EN NAAM) */
    section:nth-of-type(2) div:first-of-type section:first-of-type div:first-of-type img{
        width: 10rem;
    }
    section:nth-of-type(2) div:first-of-type section:first-of-type span:first-of-type:after{
        font-size: 4rem;
    }
}


/* STYLING BODY */
body{
    background-color: var(--light-color-background);
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    padding: 1rem;
    grid-gap: 1rem;
    font-family:'Keania One', sans-serif;
}

/* STYLING BODY DESKTOP */
@media screen and (min-width: 80em){
    body{
        grid-template: 1fr 1fr / 1fr 1fr;
 }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    animation: fadeOut 6s ease forwards;
    z-index: 100;
}

h1 {
    animation: pulse 6s ease forwards;
}

body > section{
    height: 42rem;
}

/* STYLING VOOR SECTION LINKS BOVEN */
section:first-of-type{
    border-radius: 1rem;
    background-color: var(--dark-color-background);
    padding: 1.5rem;
}

section:first-of-type form:first-of-type{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    background-color: var(--border-color-purple);
    border-radius: 1rem;
    padding: 1.5rem;
}

section:first-of-type input[type="checkbox"]{
    appearance: none;
    background-color: var(--light-color-background);
    border: 10px solid rgba(0, 0, 0, 0.3);
    height: 3.5rem;
    width: 100%;
}

section:first-of-type input[type="checkbox"]:disabled{
    border-radius: 2rem;
    height: 4rem;
    cursor: not-allowed;
}


form:first-of-type input[type="checkbox"]:not([disabled]) {
    background-color: var(--clickable-button-color);
}

form:first-of-type:has( input[type="checkbox"]:nth-of-type(5n + 1):checked ) input:nth-of-type(9n + 7){
    animation: changeButtonColor 2s infinite;
}

form:first-of-type:has( input[type="checkbox"]:nth-of-type(5n + 2):checked ) input:nth-of-type(8n + 13){
    animation: changeButtonColor 2s infinite;
}

form:first-of-type:has( input[type="checkbox"]:nth-of-type(5n + 3):checked ) input:nth-of-type(8n + 7){
    animation: changeButtonColor 2s infinite;
}

form:first-of-type:has( input[type="checkbox"]:nth-of-type(5n + 4):checked ) input:nth-of-type(8n + 11){
    animation: changeButtonColor 2s infinite;
}

form:first-of-type:has( input[type="checkbox"]:nth-of-type(5n + 5):checked ) input:nth-of-type(8n + 6){
    animation: changeButtonColor 2s infinite;
}

section:first-of-type input[type="checkbox"]:checked  {
    background-color: var(--checked-button-color-active) !important; /* bah bah bah */
}

/* STYLING VOOR DE SECTION RECHTS BOVEN */
section:nth-of-type(2):not(:has(> form)){
    border-radius: 1rem;
    height: auto;
    border: 30px solid var(--border-color-purple);
    background-color: var(--dark-color-background);
}

section:nth-of-type(2) div:first-of-type{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    height: 100%;
    border-radius: 0.5rem;
}

section:nth-of-type(2) div:first-of-type{
    container-type: inline-size;
}

section:nth-of-type(2) div:first-of-type section:first-of-type{
    background-image: url('./assets/img/spaceBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-image-source: url("./assets/img/borderBackgroundDark.svg");
    border-image-slice: 25;
    border-style: solid;
    border-width: 25px;
    min-width: 75%;
    min-height: 80%;
    container-type: inline-size;
}

/* BASE STYLING VOOR DE KNOPPEN */
section:nth-of-type(2) div:first-of-type form:first-of-type {
    display: flex;
    flex-direction: column;
}

/* AFBEELDING VAN DE PLANEET + DE NAAM VAN DE PLANEET BASE STYLING */
section:nth-of-type(2) div:first-of-type section:first-of-type div:first-of-type{
    display: grid;
    justify-content: start;
    align-items: last baseline;

}
/* INFORMATIE OVER DE PLANEET BASE STYLING */
section:nth-of-type(2) div:first-of-type section:first-of-type div:nth-of-type(2){
    color:var(--text-color);
    text-align: right;
    overflow: visible;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* MARSMANNETJE */
section:nth-of-type(2) div:first-of-type ~ img{
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    animation: floatAnimation 5s infinite linear;
}


/* PLANETEN EN DE NAMEN ERVAN */

/* EARTH  */
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:first-of-type:checked) section:first-of-type div:first-of-type img{
    animation: planetFadeInEarth 0.3s ease-in-out;
    content: url(./assets/img/earth.svg);
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:first-of-type:checked) section:first-of-type span:first-of-type:after{
    content:  'Earth';
    color: var(--text-color);
    animation: textUnmaskEarth 0.3s linear;
}

/* MARS */
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(2):checked) section:first-of-type div:first-of-type img{
    animation: planetFadeInMars 0.3s ease-in-out;
    content: url(./assets/img/mars.svg);
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(2):checked) section:first-of-type span:first-of-type:after{
    content:  'Mars';
    color: var(--text-color);
    animation: textUnmaskMars 0.3s linear;
}

/* SATURN */
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(3):checked) section:first-of-type div:first-of-type img{
    animation: planetFadeInSaturn 0.3s ease-in-out;
    content: url(./assets/img/saturn.svg);
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(3):checked) section:first-of-type span:first-of-type:after{
    content:  'Saturn';
    color: var(--text-color);
    animation: textUnmaskSaturn 0.3s linear;
}

/* SUN */
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(4):checked) section:first-of-type div:first-of-type img{
    animation: planetFadeInSun 0.3s ease-in-out;
    content: url(./assets/img/sun.svg);
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(4):checked) section:first-of-type span:first-of-type:after{
    content:  'Sun';
    color: var(--text-color);
    animation: textUnmaskSun 0.3s linear;

}

/* MOON */
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(5):checked) section:first-of-type div:first-of-type img{
    animation: planetFadeInMoon 0.3s ease-in-out;
    content: url(./assets/img/moon.svg);
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(5):checked) section:first-of-type span:first-of-type:after{
    content:  'Moon';
    color: var(--text-color);
    animation: textUnmaskMoon 0.3s linear;
}

/* INFORMATIE OVER DE PLANETEN */
/* EARTH */
/* ANIMATION */
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:first-of-type:checked) section:first-of-type p{
    animation: factsUnmaskEarth 0.3s linear;
}

section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:first-of-type:checked) section:first-of-type p:first-of-type:after{
    content: "Earth's surface area is about 510 million square kilometers.";
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:first-of-type:checked) section:first-of-type p:nth-of-type(2):after{
    content: "Average surface temperature: 15°C (59°F).";
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:first-of-type:checked) section:first-of-type p:nth-of-type(3):after{
    content: "Day length: Approximately 24 hours.";
}



/* MARS */
/* ANIMATION */
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(2):checked) section:first-of-type p{
    animation: factsUnmaskMars 0.3s linear;
}

section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(2):checked) section:first-of-type p:first-of-type:after{
    content: "Mars is the fourth planet from the Sun in our solar system.";
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(2):checked) section:first-of-type p:nth-of-type(2):after{
    content: "Its surface appears red due to iron oxide, commonly known as rust.";
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(2):checked) section:first-of-type p:nth-of-type(3):after{
    content: "Day length: Approximately 24 hours.";
}

/* SATURN */
/* ANIMATION */
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(3):checked) section:first-of-type p{
    animation: factsUnmaskSaturn 0.3s linear;
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(3):checked) section:first-of-type p:first-of-type:after{
    content: "Saturn is the second-largest planet in our solar system, after Jupiter.";
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(3):checked) section:first-of-type p:nth-of-type(2):after{
    content: "Its distinct rings are composed of ice and rock particles, extending far from the planet itself.";
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(3):checked) section:first-of-type p:nth-of-type(3):after{
    content: "A day on Saturn lasts about 10.7 hours, while its orbit around the Sun takes approximately 29.5 Earth years.";
}

/* SUN */
/* ANIMATION */
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(4):checked) section:first-of-type p{
    animation: factsUnmaskSun 0.3s linear;
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(4):checked) section:first-of-type p:first-of-type:after{
    content: "The Sun is the star at the center of our solar system, providing heat and light to planets.";
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(4):checked) section:first-of-type p:nth-of-type(2):after{
    content: "It is mainly composed of hydrogen and helium, with nuclear fusion reactions occurring in its core.";
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(4):checked) section:first-of-type p:nth-of-type(3):after{
    content: "Light from the Sun takes about 8 minutes and 20 seconds to reach Earth, traveling at around 300,000 kilometers per second.";
}

/* MOON */
/* ANIMATION */
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(5):checked) section:first-of-type p{
    animation: factsUnmaskMoon 0.3s linear;
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(5):checked) section:first-of-type p:first-of-type:after{
    content: "The Moon is Earth's only natural satellite, affecting tides and climate.";
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(5):checked) section:first-of-type p:nth-of-type(2):after{
    content: "It lacks an atmosphere, providing no protection against space radiation or meteorite impacts.";
}
section:nth-of-type(2) div:first-of-type:has(form:first-of-type input[type="radio"]:nth-of-type(5):checked) section:first-of-type p:nth-of-type(3):after{
    content: "The Moon's origin is thought to be the result of a collision between Earth and another celestial body.";
}

/* STYLING VOOR DE KNOPPEN */
section:nth-of-type(2) div:first-of-type section:nth-of-type(2) form:first-of-type input[type="radio"]{
    appearance: none;
    background-color: var(--button-for-screen-background-color);
    height: 5.5rem;
    width: 5.5rem;
    border: 0.5rem solid var(--border-color-purple);
}

section:nth-of-type(2) div:first-of-type section:nth-of-type(2) form:first-of-type input[type="radio"]:checked{
    background-color: var(--checked-button-color-active);
}

section:nth-of-type(2) div:first-of-type section:nth-of-type(2) form:first-of-type input[type="radio"]:before{
    font-family: 'Keania One', sans-serif;
    color: var(--text-color);
}

/* KNOPPEN BASE STYLING */
section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]{
    display: grid;
    place-items: end center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center 15%;
}

/* SATURN KNOP */
section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:nth-of-type(3){
    background-size: 90%;
    background-position: center 30%;
}

/* EERSTE KNOP */
section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:first-of-type{
    background-image: url(./assets/img/earth.svg);

}

section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:first-of-type::before{
    content: "Earth";
}

/* TWEEDE KNOP */
section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:nth-of-type(2){
    background-image: url(./assets/img/mars.svg);
}

section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:nth-of-type(2):before{
    content: "Mars";
}

/* DERDE KNOP */
section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:nth-of-type(3){
    background-image: url(./assets/img/saturn.svg);
}

section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:nth-of-type(3):before{
    content: "Saturn";
}

/* VIERDE KNOP */
section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:nth-of-type(4){
    background-image: url(./assets/img/sun.svg);

}

section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:nth-of-type(4):before{
    content: "Sun";
}

/* VIJFDE KNOP */
section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:nth-of-type(5){
    background-image: url(./assets/img/moon.svg);
}

section:nth-of-type(2) div:first-of-type form:first-of-type input[type="radio"]:nth-of-type(5):before{
    content: "Moon";
}


/* STYLING SECTION RECTHS ONDER */
section:nth-of-type(3){
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: var(--dark-color-background);
    padding: 1.5rem;
    border: 30px solid var(--border-color-purple);
    display: grid;
    gap: 1rem;
}

/* STYLING VOOR DE RECHTER KANT (RADAR EN SLIDER) DESKTOP */
@media screen and (min-width: 40em){
    body > section:nth-of-type(3){
        grid-template-columns: 1fr 1fr;
    }
}


/* STYLING VOOR HET SCROLL SCHERM */
section:nth-of-type(3) > section:first-of-type{
    border-image-source: url("./assets/img/borderBackgroundLight.svg");
    border-image-slice: 25;
    border-style: solid;
    border-width: 25px;
    background-color: var(--border-color-purple);
    overflow: hidden;
    display: grid;
    align-content: center;
    height: 100%;
}

section:nth-of-type(3) > section:first-of-type > span{
    animation: infiniteScrollVertical var(--animation-duration) linear infinite;   
    border-radius: 1rem;
    background-color: var(--dark-color-background);
    border: 1px solid black;
    width: 40%; 
    height: 1rem;
    margin:0.5rem;
}

section:nth-of-type(3) > section:first-of-type span:nth-of-type(2n){
    width: 30%;
}

section:nth-of-type(3) > section:first-of-type span:nth-of-type(3n){
    width:60%;
}

section:nth-of-type(3) > section:first-of-type span:nth-of-type(4n){
    width:80%;
}

/* STYLING VOOR DE CONTAINER RADAR EN SLIDER */
section:nth-of-type(3) > div{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* STYLING VOOR DE RADAR */
section:nth-of-type(3) > div > section:first-of-type{    
    display: flex;
    align-items: center;
    justify-content: center;
    border-image-source: url("./assets/img/borderBackgroundLight.svg");
    border-image-slice: 25;
    border-style: solid;
    border-width: 25px;
    height: 90%;
    background-color: var(--dark-color-background);

    img{
        animation: radarRotate 1s linear infinite;
        animation-play-state: paused;
    }
}

section:nth-of-type(3) > div > section:hover{
    img{
        animation-play-state: running;
    }
}

/* STYLING VOOR DE SLIDER */
section:nth-of-type(3) > div > section:nth-of-type(2){
    border-image-source: url("./assets/img/borderBackgroundLight.svg");
    border-image-slice: 25;
    border-style: solid;
    border-width: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 0;

    input[type=range]{
        appearance: none;
        width: 100%;
        height: 100%;
        border: 0.4rem solid var(--border-color-purple);
        background: transparent;
        border-radius: 1rem;
    }
    /* SLIDER BOLLETJE VOOR WEBKIT */
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border-radius: 0;
        height: 100%; 
        width: 15%;
        background: var(--clickable-button-color);
        -webkit-border-radius: 0.5rem;
    }
    /* SLIDER BOLLETJE VOOR FIREFOX */
    input[type=range]::-moz-range-thumb {
        appearance: none;
        border: none;
        border-radius: 0;
        height: 100%; 
        width: 15%;
        background: var(--clickable-button-color);
        border-radius: 0.5rem;
    }
}

/* SCHERM RECHTS ONDER*/
section:nth-of-type(4) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}  


/* SECTION LINKS VAN HET SCHERM RECHTS ONDER (PULSE) */
section:nth-of-type(4) section:first-of-type{
    div{
        animation: infiniteScrollHorizontal 5s linear infinite;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    border-image-source: url("./assets/img/borderBackgroundLight.svg");
    border-image-slice: 25;
    border-style: solid;
    border-width: 25px;
    overflow: hidden;
    background-color: var(--border-color-purple);
}


section:nth-of-type(4):has(input:first-of-type:checked) section:first-of-type img {
    animation: unCollapse 1s linear forwards;
}

section:nth-of-type(4):has(input:nth-of-type(2):checked) section:first-of-type img {
    animation: collapse 1s linear forwards;
}

/* SECTION RECHTS VAN HET SCHERM RECHTS ONDER (BUTTONS) */
section:nth-of-type(4) div:first-of-type {
    form {
        position: relative;
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    input {
        appearance: none;
        height: 18rem;
        width: 10rem;
        border: 1rem solid var(--border-color-purple)
    }
    input:first-of-type{
        background-color: var(--checked-button-color-active);
    }
    input:nth-of-type(2){
        background-color: var(--checked-button-color-1);
    }
}